.about-box{
    display: flex;
    background-color: #e0dddd;
    align-items: center;
}
.about-left{
    flex-basis: 60%;
    padding: 20px 40px;
    
}
.about-right{
    flex-basis: 70%;
    padding: 20px;
}
.about-box h2{
    font-size: 700%;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10% ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fcfefe;
    letter-spacing: 6px;
}
.about-right h3{
    padding-bottom: 5%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 200% ;
}
.about-right p1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 2.0;
    font-size: 125% ;
}

h6{
    text-align: center;
    font-size: 300%;
    text-decoration: underline;
    font-family: math;
    color: #457c3a;
    padding-bottom: 15px 
}