.main-article {
    padding: 0 250px;
    margin-bottom: 70px;
}

.main-article h1 {
    font-size: 240%;
    margin: 30px 0 5px 0;
}

.main-article .author {
    margin-bottom: 20px;
    font-size: 16px;
}

.main-article img {
    width: 100%;
    margin-bottom: 10px;
}

.main-article video {
    width: 100%;
    margin-bottom: 10px;
}

.main-article p {
    line-height: 1.5;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: sans-serif;
}

.main-article h2 {
    font-size: 180%;
    margin-bottom: 5px;
}