.feedback-box .textup { 
	text-align: center; 
	color: black;
	font-weight: 700;
	margin-bottom: 20px;
} 

.feedback-box h1 {
	margin-bottom: 10px;
}

.feedback-box i { 
	margin-right: 3px; 
} 

.feedback-box {
	font-family: sans-serif;
    display: inline; 
	padding: 15px;
	width: 800px; 
} 

.feedback-box form { 
	max-width: 600px; 
	margin: 0 auto; 
} 

.feedback-box .radio-group { 
	display: flex; 
	margin: 15px 0 15px 0;
} 

.feedback-box input[type="radio"] { 
    margin-left: 25px;
	width: 10%;
} 

.feedback-box label { 
	display: block; 
	margin-bottom: 8px; 
	font-size: 17px; 
	color: black;
	font-weight: 600; 
} 

.feedback-box input, textarea { 
	width: 100%; 
	padding: 8px; 
	margin-bottom: 12px; 
	box-sizing: border-box; 
	border-radius: 10px; 

} 

.feedback-box button { 
	background-color: black;
	color: white;
	padding: 10px; 
	border: none; 
	border-radius: 25px; 
	cursor: pointer; 
	width: 100%; 
	font-size: 15px; 
    font-weight: bold;
	transition: .2s linear; 
} 

.feedback-box button:hover { 
	background-color: #04b2f7;
	border: none;
} 

.feedback-box h1 { 
	color: black;
    text-align: center;
}

.feedback-box h4 {
    color: black;
    text-align: center;
    font-size: 20px;
    padding-bottom: 15px;
}